* {
    font-size: 30px;
}

body {
    margin: auto;
    width: 60%;
    text-align: center;
    padding: 10px;
    background-image: url(../img/Smiley_.jpg);
}

body>h1 {
    margin: auto;
    width: 41%;
    background-color: black;
    color: rgb(235, 145, 28);
}

div {
    margin: auto;
    padding: 10px;
    background-color: black;
    color: rgb(235, 145, 28);
    width: 40%;
}

#add-dogBt {
    padding: 10px;
    color: rgb(235, 145, 28);
}