:root {
    --main-color: rgb(235, 145, 28);
}

* {
    font-size: 30px;
}

body {
    margin: auto; padding: 10px;
    width: 60%;
    text-align: center;
    background-image: url(../img/Smiley_.jpg);
}

body > h1 {
    margin: auto;
    width: 41%;
    color: var(--main-color, white); background-color: black;
}

div {
    margin: auto; padding: 10px;
    color: var(--main-color, white); background-color: black;
    width: 40%;
}

#add-dogBt {
    padding: 10px;
    color: var(--main-color, white);
}