h1 {
    margin: auto;
    position: absolute;
    text-align: center;
    top: 30%;
    width: 100%;
}

#login-page {
    margin: auto;
    padding: 10px;
    font-size: 20px;
    position: absolute;
    top: 0%;
    right: 2%;
}

#registration-page {
    margin: auto;
    padding: 10px;
    font-size: 20px;
    position: absolute;
    top: 4%;
    right: 2%;
}

#dogs-list {
    font-size: 20px;
    margin: auto;
    padding: 10px;
    text-decoration: none;
}

#dog-types {
    font-size: 30px;
    margin: auto;
    padding: 10px;
    text-decoration: none;
}

#pibble-types {
    font-size: 40px;
    margin: auto;
    padding: 10px;
    text-decoration: none;
}

.subpages-container {
    margin: auto;
    position: absolute;
    top: 40%;
    width: auto;
    display: table;
    table-layout: fixed;
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.subpages-container > div {
    text-align: center;
    display: table-row;
}

.subpages-container > a {
    display: table-cell;
    vertical-align: middle;

}

/* This block allows the dog image to spin */
/* a "." before a keyword means that it is a class */
.doggy {
    border-radius: 50%;
    animation: animate 1s linear infinite;
    perspective: 500px;
}

/* @keyframes allows for the control of an animation sequence in steps */
@keyframes animate {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

img {
    height: 200px;
    width: 200px;
}

body {
    background-image: none;
}
