:root {
    --pibbles-padding: 10px;
    --pib-width1: 150px;
}

.header1 {
    margin: auto;
    text-align: center;
    width: 180px;
    border: 2px dashed;
    border-color: blue;
}

/* Allows the user to scroll down past the last div element even if there
is nothing below it */
html, tbody {
    height: auto;
    padding-bottom: 200px;
}

/* The class containing the rest of the divs.
The one issue with this is that the images have to be the same or similar sizes
or else it breaks the whole page. */
/* Another issue with this is because of the hover feature and the text boxes,
any time the cursor is over the names of one of the pibbles, it causes everything to shift */
.pibble-container1, .pibble-container2, .pibble-container3 {
    display: flex; flex-direction: row; justify-content: space-evenly;
    font-family: Helvetica, sans-serif;
}

#homepage-link {
    position: fixed; top: 0%; left: 0%;
    margin: auto; padding: 5px;
    font-size: 25px;
    border: 4px solid; border-color: black;
}

/* to set automatic margins and padding for the type-pibble div */
.type-pibble {
    margin: auto; padding: 15px;
}
/* to set the size and margin for the text that says "Pibble" */
.type-pibble > p {
    font-size: 30px;
    margin: 0;
}
/* this line selects the paragraphs that are located 
under the img element located within the type-pibble class */
.type-pibble > img ~ p {
    text-align: center;
}
/* to hide the description of what a pibble is */
#hidden-pibble {
    display: none;
}
#pibble-name {
    text-decoration: underline;
}
/* this is so that whenever the user hovers over the "Pibble" text
the description of what it is appears */
#pibble-name:hover + #hidden-pibble {
    margin: auto;
    text-align: center;
    padding: var(--pibbles-padding);
    width: 250px;
    font-size: 20px;
    display: block;
    color: blue;
    background-color: white;
    border: 2px outset; border-color: gray;
}

.type-gmail,
.type-washington,
.type-geeble,
.type-bagel,
.type-football,
.type-pebble {
    margin: auto; padding: 15px;
}

.type-gmail > p,
.type-washington > p,
.type-geeble > p,
.type-bagel > p,
.type-football,
.type-pebble {
    font-size: 30px;
    margin: 0;
}

.type-gmail > img ~ p,
.type-washington > img ~ p,
.type-geeble > img ~ p,
.type-bagel> img ~ p,
.type-football > img ~ p,
.type-pebble > img ~ p {
    text-align: center;
}

#hidden-gmail,
#hidden-washington,
#hidden-geeble,
#hidden-bagel,
#hidden-football,
#hidden-pebble {
    display: none;
}

#gmail-name,
#washington-name,
#geeble-name,
#bagel-name,
#football-name,
#pebble-name {
    text-decoration: underline;
}

#gmail-name:hover + #hidden-gmail {
    margin: auto;
    text-align: center;
    padding: var(--pibbles-padding);
    width: var(--pib-width1);
    font-size: 20px;
    display: block;
    color: blue;
    background-color: white;
    border: 2px outset;
    border-color: gray;
}

#washington-name:hover + #hidden-washington {
    margin: auto;
    text-align: center;
    padding: var(--pibbles-padding);
    width: 200px;
    font-size: 20px;
    display: block;
    color: blue;
    background-color: white;
    border: 2px outset;
    border-color: gray;
}

#geeble-name:hover + #hidden-geeble {
    margin: auto;
    text-align: center;
    padding: var(--pibbles-padding);
    width: 200px;
    font-size: 20px;
    display: block;
    color: blanchedalmond;
    background-color: black;
    border: 2px double;
    border-color: burlywood;
}

#bagel-name:hover + #hidden-bagel {
    margin: auto;
    text-align: center;
    padding: var(--pibbles-padding);
    width: var(--pib-width1);
    font-size: 20px;
    display: block;
    color: blanchedalmond;
    background-color: black;
    border: 2px double;
    border-color: burlywood;
}

#football-name:hover + #hidden-football {
    margin: auto;
    text-align: center;
    padding: var(--pibbles-padding);
    width: var(--pib-width1);
    font-size: 20px;
    display: block;
    color: blanchedalmond;
    background-color: black;
    border: 2px double;
    border-color: burlywood;
}

#pebble-name:hover + #hidden-pebble {
    margin: auto;
    text-align: center;
    padding: var(--pibbles-padding);
    width: var(--pib-width1);
    font-size: 20px;
    display: block;
    color: black;
    background-color: darkseagreen;
    border: 2px double;
    border-color: plum;
}