<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Add Dog</title>
        <link rel="stylesheet" th:href="@{/css/addDog.css}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <tbody>
        <h1>Add a new Dog</h1>
        <form action="#" th:action="@{/dogs/add}" th:object="${dog}" method="post">
            <div>
                <label for="breed">Breed</label>
                <input type="text" th:field="*{breed}" id="breed" placeholder="Breed">
            </div>
            <div>
                <label for="name">Name</label>
                <input type="text" th:field="*{name}" id="name" placeholder="Name">
            </div>
            <div>
                <label for="color">Color</label>
                <input type="text" th:field="*{color}" id="color" placeholder="Color">
            </div>
            <input id="add-dogBt" type="submit" value="Add Dog">
        </form>
    </tbody>
</html>