<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Add Dog</title>
        <link rel="stylesheet" th:href="@{/css/addDog.css}">
    </head>
    <body>
        <h1>Add a new Dog</h1>
        <form action="#" th:action="@{/dogs/add}" th:object="${dog}" method="post">
            <div>
                <label for="breed">Breed</label>
                <input type="text" th:field="*{breed}" id="breed" placeholder="Breed">
            </div>
            <div>
                <label for="name">Name</label>
                <input type="text" th:field="*{name}" id="name" placeholder="Name">
            </div>
            <div>
                <label for="color">Color</label>
                <input type="text" th:field="*{color}" id="color" placeholder="Color">
            </div>
            <div>
                <form action="@{/dogs/upload}" method="post" enctype="multipart/form-data">
                    <td><input type="file" name="image" accept="image/*"></td>
                    <td><button type="submit">Upload image</button></td>
                </form>
                <p th:text="${msg}"></p>
            </div>
            <input id="add-dogBt" type="submit" value="Add Dog">
        </form>
    </body>
</html>