<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <title>Login</title>
        <link rel="stylesheet" th:href="@{/css/auth-login.css}">
    </head>
    <body>
        <h1>Login</h1>
        <form id="loginForm">
            <div>
                <label for="username">Username</label>
                <input id="username" type="text" name="Username" placeholder="Username">
            </div>
            <div>
                <label for="email">Email</label>
                <input id="email" type="text" name="email" placeholder="Email">
            </div>
            <div>
                <label for="password">Password</label>
                <input id="password" type="password" name="password" placeholder="password">
            </div>
            <button type="submit">Login</button>
        </form>

        <script th:src="@{/js/login-form.js}"></script>
    </body>
</html>