<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <title>Authentication</title>
        <link rel="stylesheet" th:href="@{/css/auth-newUser.css}">
    </head>
    <tbody>
        <h1>Create an account</h1>
        <form th:action="@{/home/auth/newUser}" method="post">
            <div th:text="${successMsg}">

            </div>
            
            <div>
                <label for="username">Username</label>
                <input id="username" name="username" type="text" placeholder="Username">
            </div>
            <div>
                <label for="password">Password</label>
                <input id="password" name="password" type="password" placeholder="Password">
            </div>
            <div>
                <label for="email">Email</label>
                <input id="email" name="email" type="text" placeholder="Email">
            </div>
            <button type="submit">Create Account</button>
        </form>
    </tbody>
</html>