<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Dogs List</title>
        <link rel="stylesheet" th:href="@{/css/dogsList.css}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <div th:switch="${dogs}"> 
        <h2 th:case="null">There are no dogs!</h2> <!-- case for if there are no dogs -->
        <div th:case="*"> <!-- if there are dogs in the database -->
            <h1>Dogs</h1>
            <table>
                <thead>
                    <tr>
                        <th id="id">ID</th>
                        <th id="breed">Breed</th>
                        <th id="name">Name</th>
                        <th id="color">Color</th>
                        <th id="edit">Edit Dog</th>
                        <th id="delete">Delete Dog</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="dog : ${dogs}">
                        <td headers="id" th:text="${dog.id}"></td>
                        <td headers="breed" th:text="${dog.breed}"></td>
                        <td headers="name" th:text="${dog.name}"></td>
                        <td headers="color" th:text="${dog.color}"></td>
                        <td headers="edit"><a th:href="@{/dogs/update/{id} (id=${dog.id})}">Edit Dog</a></td>
                        <td headers="delete"><a th:href="@{/dogs/delete/{id} (id=${dog.id})}">Delete Dog</a></td>
                    </tr> 
                </tbody> 
            </table>
            
        </div>
        <p><a id="new-dog-link" th:href="@{/dogs/newdog}">Add a new dog</a></p>
        <p><a id="homepage-link" th:href="@{/home}">Homepage</a></p>
    </div>  
</html>