<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <title>DOGS</title>
        <link rel="stylesheet" th:href="@{/css/index.css}">
    </head>
    <tbody>
        <p id="username">Username: <span th:text="${username}"></span></p>
        <p id="email">Email: <span th:text="${email}"></span></p>
        <h1>Welcome to the homepage!</h1>

        <div class="subpages-container">
            <div><p><a id="dogs-list" th:href="@{/dogs/dogslist}">Go to dogs list</a></p></div>
            <div><p><a id="dog-types" th:href="@{/dogs/dogtypes}">Go to dog types</a></p></div>
            <div><p><a id="pibble-types" th:href="@{/dogs/pibbletypes}">Go to pibble types</a></p><div>
        </div>

        <div class="doggy">
            <img id="silly-dog" th:src="@{img/silly_white_dog.jpg}" alt="silly white dog">
        </div>
    </tbody>

</html>