<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>DOGS</title>
        <link rel="stylesheet" th:href="@{/css/main.css}">
    </head>
    <tbody>
        <h1>Welcome to the homepage!</h1>
        <p><a id=dogs-list href="/home/dogslist">Go to dogs list</a></p>
        <p><a id="dog-types" href="/home/dogtypes">Go to dog types</a></p>
        <p><a id="pibble-types" href="/home/pibbletypes">Go to pibble types</a></p>
        <div class="doggy">
            <img id=silly-dog th:src="@{img/silly_white_dog.jpg}" alt="silly white dog">
        </div>
    </tbody>

</html>