<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>DOGS</title>
        <link rel="stylesheet" th:href="@{/css/index.css}">
    </head>
    <tbody>
        <h1>Welcome to the homepage!</h1>
        <div class="subpages-container">
            <div><p><a id="dogs-list" href="/home/dogslist">Go to dogs list</a></p></div>
            <div><p><a id="dog-types" href="/home/dogtypes">Go to dog types</a></p></div>
            <div><p><a id="pibble-types" href="/home/pibbletypes">Go to pibble types</a></p><div>
        </div>
        <div class="doggy">
            <img id="silly-dog" th:src="@{img/silly_white_dog.jpg}" alt="silly white dog">
        </div>
    </tbody>

</html>