<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
	<head>
		<title>Log In Page</title>
		<link rel="stylesheet" th:href="@{/css/login.css}">
	</head>
	<tbody>
		<p><a id="homepage" th:href="@{/home}">Homepage</a></p>
		<p><a id="signup" th:href="@{/home/signup}">Create a new account</a></p>
		<h1>Please Log In</h1>

		<div th:if="${param.error}">
			Invalid username and password.
		</div>
		<div th:if="${param.logout}">
			You have been logged out.
		</div>
		
		<form th:action="@{/home/login}" method="post">
			<div>
				<label for="username">Username</label>
				<input type="text" placeholder="Username"/>
			</div>
			<div>
				<label for="email">Email</label>
				<input type="text" placeholder="Email"/>
			</div>
			<div>
				<label for="password">Password</label>
				<input type="password" placeholder="Password"/>
			</div>
			<input type="submit" value="Log in"/>
		</form>
	</tbody>
</html>