<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Pibble Types</title>
        <link rel="stylesheet" th:href="@{/css/pibbleTypes.css}">
    </head>
    <tbody>
        <div class="header1">
            <h1>Pibble Types</h1>
        </div>

        <div class="pibble-container">
            <div class="type-pibble">
                <img th:src="@{/img/Pibble_origin.png}" alt="Pibble">
                <p id="pibble-name">Pibble</p>
                <p id="hidden-pibble">Pibbles are tan Frenchie puppies. However, pibbles are a general classification, so all colors are considered pibbles.</p>
            </div>
            <div class="type-gmail">
                <img th:src="@{/img/gmail.png}" alt="Gmail">
                <p id="gmail-name">Gmail</p>
                <p id="hidden-gmail">Gmails are black and white(pied) Frenchies.</p>
            </div>
        </div>
    </tbody>
  
</html>