<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Signup</title>
        <link rel="stylesheet" th:href="@{/css/signup.css}">
    </head>
    <body>
        <p><a id="homepage" th:href="@{/home}">Homepage</a></p>
        <p><a id="login" th:href="@{/home/login}">Login Page</a></p>

        <h1>Create a new account</h1>

        <form id="signupForm" th:action="@{/home/signup}" th:object="${user}" method="post">
            <div>
                <label for="username">Username</label>
                <input id="username" type="text" th:field="*{username}" placeholder="Enter a Username" required />
            </div>
            <div>
                <label for="email">Email</label>
                <input id="email" type="text" th:field="*{email}" placeholder="Enter your Email" required />
            </div>
            <div>
                <label for="password">Password</label>
                <input id="password" type="password" th:field="*{password}" placeholder="Enter a password" required /> 
            </div>
            <div>
                <label for="passwordcon">Confirm Password</label>
                <input id="passwordcon" type="password" placeholder="Confirm Password">
            </div>
            <button type="submit">Sign Up</button>
        </form>
    </body>
</html>
