<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Signup</title>
        <link rel="stylesheet" th:href="@{/css/signup.css}">
    </head>
    <body>
        <p><a id="homepage" th:href="@{/home}">Homepage</a></p>
        <p><a id="login" th:href="@{/login}">Login Page</a></p>

        <h1>Create a new account</h1>

        <form id="signupForm" th:object="${user}">
            <div>
                <label for="username">Username</label>
                <input id="username" type="text" th:field="*{username}" placeholder="Enter a Username" required />
            </div>
            <div>
                <label for="email">Email</label>
                <input id="email" type="text" th:field="*{email}" placeholder="Enter your Email" required />
            </div>
            <div>
                <label for="password">Password</label>
                <input id="password" type="password" th:field="*{password}" placeholder="Enter a password" required /> 
            </div>
            <div>
                <label for="passwordcon">Confirm Password</label>
                <input id="passwordcon" type="password" placeholder="Confirm Password">
            </div>
            <button type="submit">Sign Up</button>
        </form>
        
        <!-- I don't know JavaScript but this is required for the registration/signup logic -->
        <script>
            const submitBt = document.getElementById("signupForm");
            submitBt.addEventListener("submit", (event) => {
                event.preventDefault();

                const username = document.getElementById('username').value;
                const password = document.getElementById('password').value;
                const confirmPass = document.getElementById('passwordcon').value;
                const email = document.getElementById('email').value;

                if (password === confirmPass) {
                    const data = { username, password, email };

                    fetch('/home/signup', {
                        method: 'POST',
                        headers: { "Content-Type": "application/json" },
                        body: JSON.stringify(data)
                    })
                    .then(response => response.json())
                    .then(data => {
                        console.log("User created:", data);
                        alert("Signup successful");
                        window.location.href = "/home/login";
                    })
                    .catch(error => {
                        console.error("Error:", error);
                        alert("Signup failed");
                    });
                } else {
                    alert("Passwords do not match");
                }
            });
        </script>

    </body>
</html>
