<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Update Dog</title>
        <link rel="stylesheet" th:href="@{/css/update.css}">
    </head>
    <body>
        <form action="#" th:action="@{/dogs/update/{id} (id=${dog.id})}" th:object="${dog}" th:method="post">
            <div>
                <label for="breed">Breed</label>
                <input type="text" th:field="*{breed}" id="breed" placeholder="Breed">
            </div>
            <div>
                <label for="name">Name</label>
                <input type="text" th:field="*{name}" id="name" placeholder="Name">
            </div>
            <div>
                <label for="color">Color</label>
                <input type="text" th:field="*{color}" id="color" placeholder="Color">
            </div>
            <input id="update-dogBt" type="submit" value="Update Dog">
        </form>
    </body>
</html>